.pageWrapper {
  margin: 50px 0;
}

.topTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topTitle h2 {
  font-weight: 700;
  font-size: 36px;
  color: #0a1629;
}

.task-container {
  margin-top: 40px;
}